@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@media screen and (max-width: 576px) {
  body {
    margin: 0;
    font-family: "Roboto", sans-serif;
  }
 

  h2 {
    font-weight: 900;
  }

  /*  ===========================================
      ================ HEADER ===================
      ===========================================   
      ALL PAGES */
  .logo {
    width: 50%;
    display: block;
    margin: auto;
    object-fit: contain;
    padding-top: 1em;
  }

  .header-logo {
    margin-bottom: 1.5em;
    position: relative;
  }
  .header-logo__icone {
    position: absolute;
    top: 30px;
    left: 30px;
    color: black;
  }

  /*  ================================================================================
      ================================ HOMEPAGE ======================================
      ================================================================================ */
  /*  ===========================================
      ============ SECTION  LOCAL ===============
      ===========================================  */
  .local {
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: 3em;
  }
  .local .local-map {
    display: flex;
    justify-content: center;
    padding: 0.7em 0;
    background-color: #e4e4e4;
    border-top: 2px solid #c5c5c5;
  }
  .local .local-pres {
    width: 65%;
    margin: auto;
    text-align: center;
    padding-bottom: 1em;
  }
  .local__icone {
    padding: 0 1em;
  }

  /*  ===========================================
      ========= SECTION FONCTIONNEMENT ==========
      ===========================================  */
  .fonct {
    width: 90%;
    margin: auto;
    margin-bottom: 3em;
  }
  .fonct .fonct-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  .fonct .fonct-list__text {
    width: 100%;
    margin: 0.5em;
    border-radius: 1.3em;
    box-shadow: 1px 7px 9px #0000002e;
    padding: 1.5em;
    background-color: #F2F2F2;
  }
  .fonct .fonct-list__num {
    border-radius: 100%;
    background-color: #9356DC;
    color: white;
    height: 1em;
    width: 1em;
    min-height: 1.3em;
    min-width: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    position: absolute;
    left: -2px;
  }
  .fonct .fonct-list__desc {
    align-items: center;
  }
  .fonct .fonct-list__icone {
    color: gray;
    padding-right: 1em;
  }
  .fonct .fonct-list__text--purple {
    background-color: #9557e02f;
  }
  .fonct .fonct-list__icone--purple {
    color: #9557e0;
  }

  /*  ===========================================
      =========== SECTION RESTAURANTS ===========
      ===========================================  */
  .restaurants {
    background-color: #F2F2F2;
  }
  .restaurants > h2 {
    padding: 2em 1em 0;
  }
  .restaurants .cards {
    width: 87%;
    border-radius: 1em;
    object-fit: cover;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5em;
    grid-gap: 2em;
  }

  .card {
    background-color: white;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1em;
    text-decoration: none;
    color: black;
    position: relative;
    line-height: 6px;
    /* Btn heart */
  }
  .card__img {
    height: 12em;
    width: 100%;
    border: transparent solid 0px;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
  }
  .card__new {
    position: absolute;
    right: 15px;
    top: 15px;
    border-radius: 2px;
    background-color: #99E2D0;
    color: #16912a;
    padding: 0.7em;
  }
  .card__total {
    padding: 0 1em 1em;
  }
  .card__like {
    position: absolute;
    right: 20px;
    bottom: 24px;
    color: black;
    font-weight: bold;
    transition-duration: 0.4s;
  }
  .card__like--off:before {
    display: none;
  }
  .card__like--off:hover {
    background-color: #FF79DA;
  }
  .cardlike__--on {
    display: none;
  }

  /*  ===========================================
      ================ FOOTER ===================
      ===========================================  
      ALL PAGES */
  .footer {
    background-color: #363636;
    color: white;
    padding-bottom: 1em;
    margin-top: -50px;
  }
  .footer__logo {
    color: white;
    font-family: "Shrikhand", "cursive";
    padding: 1em 2em 0;
    font-size: 1.2em;
  }
  .footer__link {
    text-decoration: none;
    color: white;
  }
  .footer__listli {
    list-style: none;
    line-height: 28px;
  }
  .footer__icone {
    padding: 0 1em 0 0;
  }

  /*  ================================================================================
      ============================== AUTRES PAGES ====================================
      ================================================================================ */
  .menu-photo {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
  }

  .menu h2 {
    font-family: "Shrikhand", "cursive";
  }

  .submenu h3 {
    margin: 0;
  }

  /*  ===========================================
      ================ MENUS ===================
      ===========================================  
      ALL PAGES */
  .menu-container {
    width: 100%;
    margin: auto;
    padding-top: 1em;
    background-color: #F2F2F2;
    border-radius: 35px 35px 0 0;
    position: relative;
    top: -50px;
  }
  .menu-container .menu {
    width: 90%;
    margin: auto;
    display: flex;
  }
  .menu-container .menu__title {
    flex: 1;
    margin: 0;
  }

  .submenu {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    margin-top: 2em;
  }
  .submenu__card {
    background-color: white;
    box-shadow: 0 0 10px #0000002e;
    border-radius: 1em;
    padding: 0.7em;
    line-height: 23px;
  }
  .submenu__title {
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .submenu__desc {
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    float: left;
  }
  .submenu__price {
    display: flex;
    justify-content: flex-end;
    position: relative;
    float: right;
    padding-right: 0.5em;
    font-weight: bolder;
  }

  /*  ===========================================
      =============== BUTTONS ===================
      ===========================================  
     ALL PAGES */
     
    .menu__btn {
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 3em;
  }
}

/*# sourceMappingURL=style.css.map */
